{{set . "title" .prob.Title}}
{{template "header.html" .}}

<h1>{{.prob.Title}}</h1>

{{template "flash.html" .}}
<form action="{{url "App.MakeDataAll"}}" method="post">
  {{with $field := field "shortname" .}}
    <input type="hidden" name="{{$field.Name}}" value="{{$.prob.ShortName}}">
  {{end}}
  {{with $field := field "reload" .}}
  <p>
    <strong>Generate for all users?</strong>
    {{checkbox $field "gen for all"}}
  </p>
  {{end}}
  <p class="buttons">
    <input type="submit" value="Make Data">
  </p>
</form>

{{raw .prob.Description}}

<h2>Test Data</h2>
<table>
    <thead>
        <th>
            <td>DataID</td>
            <td>My Best</td>
            <td>Best of All Users</td>
            <td>Input</td>
            <td>Submit</td>
        </th>
    </thead>
    <tbody>
    {{range .data}}
        <tr>
            <td>{{.DataID}}</td>
            <td>{{.MyBest}}</td>
            <td>{{.Best}}</td>
            <td><a href="/input/{{$.prob.ShortName}}/{{.DataID}}.in">Download <code>{{.DataID}}.in</code></a></td>
            <td><a href="/submit?shortname={{$.prob.ShortName}}&amp;testcaseid={{.DataID}}">Submit <code>{{.DataID}}.ans</code></a></td>
        </tr>
    {{end}}
    </tbody>
</table>

{{template "footer.html" .}}
