{{set . "title" .prob.Title}}
{{template "header.html" .}}

<h1>Solution</h1>

<ul>
    <li>User: {{.submit.Username}}</li>
    <li>Problem: <a href="/problem/{{.submit.ShortName}}">{{.submit.ShortName}}</a></li>
    <li>TestcaseID: {{.submit.TestcaseID}}</li>
    <li>Status: {{.submit.Status}}</li>
    <li>Score: {{.submit.Score}}</li>
    <li>Input File: <a href="/solution/{{.submit.ID}}/input/{{.submit.TestcaseID}}.in">Download <code>{{.submit.TestcaseID}}.in</code></a>
    <li>Answer File: <a href="/solution/{{.submit.ID}}/answer/{{.submit.TestcaseID}}.ans">Download <code>{{.submit.TestcaseID}}.ans</code></a>
    <li>Solution File: <a href="/solution/{{.submit.ID}}/solution/{{.submit.SolutionFileName}}">Download <code>{{.submit.SolutionFileName}}</code></a>
</ul>

{{if .submit.Message}}
<h2>Message</h2>
<pre>{{.submit.Message}}</pre>
{{end}}
